<h2>#<%= @tag %></h2>

<div class="tagged_images">
  <% @images.each do |image| %>
    <a href="<%= gallery_image_path(image.gallery_id, image.id) %>">
      <img src="<%= image.url %>" width="500px">
    </a>
  <% end %>
</div>