<h1>Add a Gallery</h1>

<form action="/galleries" method="POST">
  <div>
    <label for="name">Name:</label>
    <input id="name" type="text" name="gallery[name]">
  </div>
  <div>
    <label for="description">Description:</label>
    <input id="description" type="text" name="gallery[description]">
  <div>
    <button type="submit" value="submit">Submit</button>
  </div>
</form>